body {
        font-family: sans;
}
h1 {
        width: 80%;
        margin: auto;
}
ul {
        padding: 0px 1rem;
}
li {
        margin: 0.6rem 0px;
        padding: 0px;
}
.section {
        margin: auto;
        padding: 2rem;
        width: 80%;
        align: center;
}
.section img {
        width: 100%;
        border: 1px solid black;
        border-radius: 2rem;
}
